.time-slot {
    font-size: 12px;
    text-wrap: balance;
    text-align: justify;
}


.selected-course {
    background-color: yellow; 
    color: black; 
    font-weight: bold;
}

.blank-table-cell {
    opacity: 0;    
}


.table-header {
    border: 1px solid black; 
    background-color: #f0f0f0; 
    font-weight: bold; 
    text-align: center; 
  }
  
